@tailwind base;
@tailwind components;
@tailwind utilities;

.skill-tag {
  @apply bg-brand-surface text-brand-primary dark:bg-brand-surface dark:text-brand-primary text-sm font-medium px-3 py-1 rounded-full;
}